@font-face {
    font-family: 'Rick&Morty';
    src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rick&Morty', sans-serif;
    text-shadow: 2px 2px 3px rgb(77, 231, 87);
    min-height: 100vh;
    background: url('./assets/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header {
    padding: 2rem;
    background: #081c15;
    color: #f4f4f4;
}

.score-wrapper {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    justify-content: center;
}

.score {
    background-color: #fff;
    padding: 1rem 0;
    width: 200px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #081c15;
    color: #081c15;
}

.current {
    background: #ffd6a5;
}

.best {
    background-color: #caffbf;
}

.card-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 180px;
    aspect-ratio: 4/5;
    background-color: #899878;
    border: 1px solid #f4f4f4;
    box-shadow: 2px 2px 5px #081c15;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 1rem;
    color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > img {
    display: block;
    width: 100%;
    border-radius: 4px;
}

.card:hover {
    filter: brightness(1.1);
}

.clicked {
    background: #ffd8d8;
}